body {
    display:table-row
}

#parent {
    display: flex
}

.parking {
    background-color: rgb(163, 255, 255);
    height: 20vh;
    width: 20vh;
    margin: 0vh;
}

.car {
    display: block;
}